$base-font: 'Lato', 'Arial', sans-serif;
$second-font: 'Playfair Display', serif;

$primary-color: rgb(40, 33, 31);
$primary-color-darker: rgb(47, 47, 47);
$primary-color-heading: rgb(245, 215, 110);
$primary-color-light: rgb(255, 255, 255);

$tablet-width: 660px;
$desktop-width: 960px;
