.button {
  display: inline-block;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid transparent;

  &--more {
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    transition: all .5s;

    &:hover,
    &:focus {
      background-color: darken($primary-color-heading, 50%);
      border-color: $primary-color-heading;
    }
  }
}