.menu {
	padding: 40px 20px;
	padding-bottom: 100px;
}

.menu__section-title {
	margin-bottom: 35px;
}

.menu__wrapper {
	text-align: center;
}

@media (min-width: $tablet-width) {
	.menu {
		padding-bottom: 150px;
	}
	
	.menu__wrapper {
		max-width: 900px;
		margin: 0 auto;
	}

	.menu__section-title {
		margin-bottom: 60px;
	}
}

@media (min-width: $desktop-width) {
	.menu {
		padding-bottom: 170px;
	}

	.menu__wrapper {
		max-width: 1270px;
	}
}
