.menu-list__item {
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}

.menu-list__image {
	position: relative;
	max-width: 500px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.menu-list__image-picture {
	position: relative;
	margin: 0;

	&::after {
		content: "";
		z-index: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(236, 236, 236, 0.85);
	}
}

.menu-list__image-picture--colorful::after {
	background-color: $primary-color-heading;
	opacity: 0.85;
}

.menu-list__caption {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: #000000;
	font-family: $second-font;
	font-size: 32px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
}

.menu__table-price {
	width: 100%;
	max-width: 500px;
	margin: 0 auto;
}


@media (min-width: $tablet-width) {
	.menu-list__item {
		display: flex;

		&:nth-child(2n) {
			flex-direction: row-reverse;
		}
	}

	.menu-list__image {
		width: 50%;
		margin: 0;
	}

	.menu__table-price {
		width: 50%;
		margin: 0;
		margin-top: auto;
		margin-bottom: auto;
	}
}

@media (min-width: $desktop-width) {
	.menu-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.menu-list__item {
		display: block;
		width: 30%;
	}

	.menu-list__image {
		width: 100%;
		margin-bottom: 40px;
	}

	.menu__table-price {
		width: 100%;
	}
}